* {
font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    font-weight: 500;
}

h4 {
    font-size: 1.1em;
    font-weight: 500;
}

input[type="email"] {
    width: 200px;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    border-color: #EBEBEB;
    border-style: hidden;
}

button {
    width: fit-content;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    color: white;
    background-color: #CA0508;
    border: none;
    border-radius: 3px;
}

.header {
    padding: 50px 150px;
    background-image: linear-gradient(90deg, #ffffff, #cccccc00),
    url('./assets/hero-background.jpg');
}

.logo {
    max-height: 250px;
}

#hero {
    max-width: 750px;
}

#hero-form {
    display: flex;
    flex-direction: column;
    /* max-width: max-content; */
}

.features {
    padding: 50px 150px;
    background-color: #EBEBEB;
}

.features-right {
    display: flex;
    
}

.features-left {
    display: flex;
}

.feature-image {
    max-height: 300px;
    margin: 15px;
}

.faq {
    padding: 50px 150px;
}

.cta2 {
    padding: 50px;
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cta2-headline {
    margin-top: 0px;
}

.footer {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .logo {
    max-width: 150px;
}

.social-icon {
    max-width: 25px;
    filter: invert(43%) sepia(89%) saturate(4558%) hue-rotate(338deg) brightness(69%) contrast(145%);
}

.founder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    max-width: 900px;
}

.founder-bio {
    display: flex;
    justify-content: center;
    align-items: center;
}

#carole-avatar {
    max-height: 75px;
}

/* Responsiveness */

@media screen and (min-width: 900px) {
    
}

@media screen and (max-width: 899px) {
    .header, .features, .faq {
        padding: 25px;
    }
}

@media screen and (max-width: 480px) {
    .header, .features, .faq {
        padding: 15px;
    }
    .features-left, .features-right {
        display: inline;
    }
}